<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/header') %>
</head>
<body class="d-flex flex-column min-vh-100">
    <%- include('partials/navbar') %>
    
    <!-- Main Content -->
    <main class="flex-grow-1">
        <%- content %>
    </main>
    
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
</body>
</html>
